body{
  height: 100vh;
  padding-top: 60px;
  padding-bottom: 60px;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}

nav{
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.25)

}

.App-link {
  color: #61dafb;
}


#bezierDrawer{
  border: 1px solid black;
  position: absolute;
  right: 0;
  top: 40vh;
  margin: 10px;
}
